#name {
    font-family: monospace;
    font-size: 50px;
    text-emphasis: underline;
    color: red;
    opacity: 0.4;
}

h1 {
    color: red;
    text-align: center;
}

}

li {
    font-size: 20px;
}

h3.about {
    color: red;
    opacity: 0.7;
}
