<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" name="viewport">
    <title>Find Your Flight</title>
    <script>
        function validateForm() {
            var source = document.getElementById('source').value;
            var destination = document.getElementById('destination').value;
            if (source == "" || destination == "") {
                alert("Both 'From' and 'To' fields must be filled out");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div style="position: relative; color: white;">
        <!-- Full-width image -->
        <img src="https://cdn-7.nikon-cdn.com/Images/Learn-Explore/Photography-Techniques/2019/Mandy-Lea-D850/Media/Mandy-Lea-D850-Moraine.jpg" alt="world map" style="width: 100%; height: auto;">

        <!-- Overlay content with transparent background -->
        <div style="position: absolute; top: 120px; left: 0; width: 100%; background-color: rgba(255, 255, 255, 0.4); padding: 30px 10px; box-sizing: border-box;">
            <h1 style="color: white; font-size: 50px; font-family: Monospace; margin: 0;">WHERE TO NEXT?</h1>
            <h3 style="color: white; font-size: 20px; font-family: Times New Roman; margin: 2;">Enter your flight details:</h3>
            <form action="/result" method="POST" onsubmit="return validateForm()" style="display: flex; align-items: center;">
                <input type="text" id="source" name="source" placeholder="From" style="width: 200px; height: 35px; border: 1px solid white; margin-right: 10px;">
                <input type="text" id="destination" name="destination" placeholder="To" style="width: 200px; height: 35px; border: 1px solid white; margin-right: 10px;">
                <input type="submit" value="Search Flights" style="width: 200px; height: 40px; background-color: #ADD8E6; color: black; border: 1px solid white; cursor: pointer;">
            </form>
            {% if error_message %}
                <p style="color: red; background-color: rgba(255, 255, 255, 0.6); padding: 7px; border-radius: 5px; display: inline-block;">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>


